*{
	margin: $default-mz;
	padding: $default-pd;
}
html{
	height:$default-height;
}
body {
	@extend html;
    font-size: 16px;
    font-weight: $default-fw;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: $default-fm;
	background:url(../images/body-bg.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-color:rgba(0, 0, 0, 0.9);
}
::selection {
    background-color: #24b662;
    color: #ffffff;
}

::-moz-selection {
    background-color: #24b662;
    color: #ffffff;
}
h1,h2,h3,h4,h5,h6{
	color: $default-color;
	font-family: $default-fm;
}
a{
	text-decoration: none;
	&:hover{
		color: $default-color;
		text-decoration: none;
	}
	&:active{
		outline: none;
		text-decoration: none;
	}
}
p{
	color:$default-color;
	line-height: 32px;
}
ul,li{
	margin:$default-mz;
	padding:$default-pd;
}